<div id="container">

    <h1>Formulario de Registro</h1>
    <hr>
    <form [formGroup]="myForm" (ngSubmit)="onSave()">
        <div class="grid-row">
            <div class="grid">
                <label for="id">ID</label>
                <input #id type="text" formControlName="id" id="id" placeholder="Ingrese un Id">
                <span class="error" *ngIf="isValidField('id')"> {{ getErrorMessage("id") }} </span>
            </div>
            <div class="grid">
                <label #name for="name">Nombre</label>
                <input type="text" formControlName="name" id="name" placeholder="Ingrese un nombre">
                <span class="error" *ngIf="isValidField('name')"> {{ getErrorMessage("name") }} </span>
            </div>
        </div>

        <div class="grid-row">
            <div class="grid">
                <label for="description">Descripción</label>
                <input type="text" formControlName="description" id="description" placeholder="Ingrese una descripción">
                <span class="error" *ngIf="isValidField('description')"> {{ getErrorMessage("description") }} </span>
            </div>

            <div class="grid">
                <label for="logo">Logo</label>
                <input type="text" formControlName="logo" id="logo" logo="Ingrese un enlace">
                <span class="error" *ngIf="isValidField('logo')"> {{ getErrorMessage("logo") }} </span>

            </div>
        </div>

        <div class="grid-row">
            <div class="grid">
                <label for="date_release">Fecha de Liberación</label>
                <input #release_date formControlName="date_release" type="date"
                    (change)="onChangeRelease(release_date.value)" id="date_release" [min]="now">
                <span class="error" *ngIf="isValidField('date_release')"> {{ getErrorMessage("date_release") }} </span>
            </div>

            <div class="grid">
                <label for="date_revision">Fecha de Revisión</label>
                <input type="date" formControlName="date_revision" id="date_revision">
                <span class="error" *ngIf="isValidField('date_revision')"> {{ getErrorMessage("date_revision") }}
                </span>
            </div>
        </div>


        <div class="grid restartButton">
            <button [disabled]="isUpdate" class="button" type="reset" id="submitButton">
                Reiniciar
            </button>
        </div>
        <div class="grid addButton">
            <button class="button addButtonColor" type="submit" [disabled]="isInvalidForm()">
                Enviar
            </button>
        </div>
    </form>
</div>